h1{color:#b300b3;}
h3{color: #4d004d ; font-weight: lighter;}
table{background-color:pink;}
#h2know{color:#4d004d; font-family:serif; font-size:large; font-style:italic; font-weight:lighter; text-align:left; }
.back{background-color:#ffb3ff;}
.h2{background-color:#ffb3ff}
a{color:blue;}
h2{color:#e600e6; }
b{color:red;}
th{color:#4d004d;}
td{color:#e600e6; }
